<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#" th:href="@{/assets/img/favicon.ico}">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="dashboard.css" th:href="@{/assets/css/dashboard_user_home.css}" rel="stylesheet">


</head>

<body>

<!-- 顶部菜单栏 -->
<div th:replace="common/bar::#top-bar(isLogin=${session.user})"></div>
<div class="container-fluid">
    <div class="row">
        <!-- 左侧边栏 -->
        <div th:replace="common/bar::#side-bar(activeUri='users')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">用户添加</h1>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <!--restful不需要写动作，错误示范：/emp/add-->
                <form class="bs-example bs-example-form" th:action="@{/user}" method="post">
                    <!-- 判断user是否为空，如果不为空，则是修改页面，要使用put方式提交 -->
                    <input type="hidden" name="_method" th:value="put" th:if="${user}!=null">
                    <!-- 添加一个隐藏的input标签，来携带id信息 -->
                    <input type="hidden" name="id" th:value="${user.id}" th:if="${user}!=null">
                    <div class="input-group">
                        <span class="input-group-addon" >用户名</span>
                        <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="basic-addon1" th:value="${user}!=null?${user.username}">
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon" >密码</div>
                        <!-- 生产环境中，即使是管理员，偷看用户的密码也是不允许的啊，喂！ -->
                        <input type="password" class="form-control" name="password" placeholder="Password" aria-describedby="basic-addon1" th:value="${user}!=null?${user.password}">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" >手机号</span>
                        <input type="text" class="form-control" name="phone" placeholder="PhoneNumber" aria-describedby="basic-addon1" th:value="${user}!=null?${user.phone}">
                    </div>
                    <br>
                    <div >
                    <label>Gender</label><br/>
                    <span class="form-check form-check-inline" >
                        <input class="form-check-input" type="radio" name="gender" value="1" th:checked="${user}!=null?${user.gender}==1" >
                        <label class="form-check-label">男</label>
                    </span>
                    <span class="form-check form-check-inline" >
                        <input class="form-check-input" type="radio" name="gender" value="0" th:checked="${user}!=null?${user.gender}==0" >
                        <label class="form-check-label">女</label>
                    </span>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" >邮箱</span>
                        <input type="text" class="form-control" name="email" placeholder="Email" aria-describedby="basic-addon1" th:value="${user}!=null?${user.email}">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" >生日</span>
                        <input type="date" class="form-control" name="birth" placeholder="Username" aria-describedby="basic-addon1" th:value="${user}!=null?${#dates.format(user.birth,'yyyy-MM-dd')}">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" th:text="${user}!=null?'保存':'添加'">添加</button>
                </form>
            </main>

        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
