<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>轻印</title>
    <link rel="icon" href="../../favicon.ico" th:href="@{/assets/img/favicon.ico}">
    <link href="css/bh.css" th:href="@{/assets/css/signin.css}" rel="stylesheet">
    <!-- 引入JQuery -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div id="root">
    <!-- 顶部菜单栏 -->
    <div th:replace="common/bar::#top-bar(isLogin=${session.user})"></div>
    <main class="App-main">
        <!-- 下面这个class 中配置了背景图片 -->
        <div class="SignFlowHomepage">
            <div class="SignFlowHomepage-content">
                <div class="Card SignContainer-content">
                    <div class="SignFlowHeader" style="padding-bottom:5px">
                        <!-- 图标 -->
                        <img class="mb-4" src="asserts/img/bootstrap-solid.svg" th:src="@{/assets/img/BattleNet.png}" alt="" width="72" height="72">
                        <!-- 图标下面的解释行 -->
                        <div class="SignFlowHeader-slogen">Welome to LightPrint</div>
                    </div>
                    <p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}" ></p>
                    <!-- 用户登录的div框 -->
                    <div class="SignContainer-inner">
                        <div class="Login-content">
                            <!-- 用户登录表单 -->
                            <form class="SignFlow" th:action="@{/user/login}" method="post">
                                <!-- 登录div -->
                                <!-- 输入账户 -->
                                <div class="SignFlow-account">
                                    <div class="SignFlowInput SignFlow-accountInputContainer">
                                        <div class="SignFlow-accountInput Input-wrapper">
                                            <input name="username" type="text" class="Input" placeholder="邮箱"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                                <!-- 输入密码 -->
                                <div class="SignFlow-password">
                                    <div class="SignFlowInput">
                                        <div class="Input-wrapper">
                                            <input name="password" type="password" class="Input" placeholder="密码"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                                <!-- 切换登录方式和忘记密码 -->
                                <div class="Login-options">
                                    <button type="button" class="Button Login-switchType Button--plain">发送邮件登录
                                    </button>
                                    <button type="button" class="Button Login-cannotLogin Button--plain">忘记密码？
                                    </button>
                                </div>
                                <button type="submit"
                                        class="Button SignFlow-submitButton Button--primary Button--blue">登录
                                </button>
                                <div class="Login-footer">
                                    <!--<p>aaaa</p>-->
                                </div>

                            </form>
                        </div>
                        <div class="SignContainer-switch">
                            没有帐号？<span>注册</span>
                        </div>
                    </div>
                </div>
                <!--<button type="button" class="Button SignFlowHomepage-downloadBtn">下载 App</button>-->
            </div>
            <!-- 页脚 -->
            <footer class="SignFlowHomepage-footer">
                <a target="_blank" href="/">圆桌</a>
                <a target="_blank" href="/">发现</a>
                <a target="_blank" href="/">移动应用</a>
            </footer>
        </div>
    </main>
    <!-- 右下角小浮动的小图标 -->
    <div class="CornerButtons">
        <div class="CornerAnimayedFlex">
            <button type="button" class="Button CornerButton Button--plain">
                <svg class="Zi" title="建议反馈" fill="currentColor" viewBox="0 0 24 24" width="24"
                     height="24">
                    <path d="M19.99 6.99L18 5s-1-1-2-1H8C7 4 6 5 6 5L4 7S3 8 3 9v9s0 2 2.002 2H19c2 0 2-2 2-2V9c0-1-1.01-2.01-1.01-2.01zM16.5 5.5L19 8H5l2.5-2.5h9zm-2 5.5s.5 0 .5.5-.5.5-.5.5h-5s-.5 0-.5-.5.5-.5.5-.5h5z"></path>
                </svg>
            </button>
        </div>
    </div>
</div>
</body>
</html>